body {
  font-family: Roboto;
}

.header-container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.headr-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-link:hover {
  color: #2196f3;
  transition: 0.7s;
}

.logo {
  margin-right: 93px;
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.header-contact {
  display: flex;
}

.gmail {
  margin-left: 344px;
  margin-right: 50px;
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.contact {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.logo-one {
  color: #2196f3;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

/* button */

.button {
  padding-top: 94px;
}

.button-list {
  display: flex;
  gap: 8px;
}

.button-container {
  margin-left: auto;
  margin-right: auto;
}

.btn {
  border-radius: 4px;
  background: #f5f4fa;
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.btn:hover {
  background-color: #2196f3;
  color: #ffffff;
  transition: 0.7s;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* project */

.project {
  padding-top: 50px;
  padding-bottom: 94px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 30px;
}

.catalog-text {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px; /* 200% */
  letter-spacing: 1.08px;
  padding-top: 20px;
  margin-bottom: 4px;
  padding-left: 24px;
}

.catalog-tytle {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
  padding-left: 24px;
}

.project-item {
  border: 1px solid #eee;
  padding-bottom: 20px;
  max-width: 370px;
}

/* fotter */

footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.foother-logo {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
}

.foother-logo-one {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.foother-address {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}

.gmails {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.nomer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.foother-contact {
  margin-bottom: 9px;
}
