body {
  font-family: Roboto;
}

.container {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.header-container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.headr-list {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-right: auto;
}

.header-link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover {
  color: #2196f3;
}

.header-link:focus {
  color: #2196f3;
  outline: none;
}

.link-studio::after {
  content: "";
  border-radius: 2px;
  background-color: #2196f3;
  width: 48px;
  height: 4px;
  display: block;
  position: absolute;
  bottom: -28px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-portfolio::after {
  content: "";
  border-radius: 2px;
  background-color: #2196f3;
  width: 78px;
  height: 4px;
  display: block;
  position: absolute;
  bottom: -28px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contact::after {
  content: "";
  border-radius: 2px;
  background-color: #2196f3;
  width: 64px;
  height: 4px;
  display: block;
  position: absolute;
  bottom: -28px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-portfolio:hover::after {
  opacity: 1;
}

.link-studio:hover::after {
  opacity: 1;
}
.link-contact:hover::after {
  opacity: 1;
}

.logo {
  margin-right: 93px;
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.header-information {
  display: flex;
  align-items: center;
}

.gmail-tittle {
  margin-right: 50px;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gmail-icon {
  fill: #757575;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gmail {
  display: flex;
  align-items: center;
}

.gmail:hover .gmail-tittle {
  color: #2196f3;
}

.gmail:focus .gmail-tittle {
  color: #2196f3;
}

.gmail:focus {
  outline: none;
}

.gmail:hover .gmail-icon {
  fill: #2196f3;
}

.gmail:focus .gmail-icon {
  fill: #2196f3;
}
.contact {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
}

.contact:hover .contact-icon {
  fill: #2196f3;
}

.contact:focus .contact-icon {
  fill: #2196f3;
}

.contact:focus {
  outline: none;
}

.contact:hover .gmail-tittle {
  color: #2196f3;
}

.contact:focus .gmail-tittle {
  color: #2196f3;
}

.contact-icon {
  fill: #757575;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-one {
  color: #2196f3;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

/* biznes */

.biznes {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 40%,
      rgba(47, 48, 58, 0.36738445378151263) 100%
    ),
    url(../img/img.biznes/biznes-fon.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.biznes-up {
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.button-biznes {
  width: 216px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-biznes:hover {
  background: #0969b8;
}

.button-biznes:focus {
  background: #0969b8;
  outline: none;
}

.biznes-container {
  max-width: 628px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Choosing-Us */

.choosing {
  padding-top: 94px;
}

.choosing-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.choosing-item {
  width: 270px;
  height: 248px;
}

.choosing-item-antenna::before {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  display: block;
  content: "";
  margin-bottom: 30px;
  background-image: url(../img/img.choosing.us/choosing-us-antenna.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.choosing-item-clock::before {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  display: block;
  content: "";
  margin-bottom: 30px;
  background-image: url(../img/img.choosing.us/choosing-us-clock.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.choosing-item-diagramma::before {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  display: block;
  content: "";
  margin-bottom: 30px;
  background-image: url(../img/img.choosing.us/choosing-us-diagram.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.choosing-item-astronaut::before {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  display: block;
  content: "";
  margin-bottom: 30px;
  background-image: url(../img/img.choosing.us/choosing-us-astronaut.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.choosing-text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.choosing-hero {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* work */

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-item {
  position: relative;
}

.img-text {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 3px;
  display: flex;
  align-items: center;
}

.img-tittle {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
}

/* team */

.team {
  background: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-text {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.team-work {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-photo {
  margin-bottom: 30px;
}

.team-item {
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-icon {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.team-icon-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link {
  border-radius: 50px;
  padding: 12px;
  display: flex;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover {
  background-color: #2196f3;
}

.team-icon-link:focus {
  background-color: #2196f3;
  outline: none;
}

.team-icon-link:hover .team-icon-svg {
  fill: #ffffff;
}

/* clients */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-tittle {
  color: #212121;
  font-family: Roboto;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-icon-link {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: flex;
  align-items: center;
  padding: 16px 32px 16px 32px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icons {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.clients-icon-link:hover {
  border: 1px solid #2196f3;
}

.clients-icon-link:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.clients-icon-link:hover .clients-icon {
  fill: #2196f3;
}

.clients-icon-link:focus .clients-icon {
  fill: #2196f3;
}

/* footer */

footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.foother-logo {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
}

.foother-logo-one {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.foother-address {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}

.footer-container {
  display: flex;
  align-items: center;
}

.gmails {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.nomer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.foother-contact {
  margin-bottom: 9px;
}

.footer-icons-container {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.footer-tittle-project {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-icon-list {
  display: flex;
  gap: 10px;
}

.footer-icon-link {
  padding: 12px;
  fill: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-icon-link:hover {
  background-color: #2196f3;
}

.footer-icon-link:focus {
  background-color: #2196f3;
  outline: none;
}

.footer-input-lable {
  display: flex;
  gap: 12px;
  margin-left: 93px;
}

.footer-input-tittle {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 93px;
}

.footer-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  position: absolute;
  left: 16px;
}

.footer-button-email {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  transition: background-color 300ms cubic-bezier(1, -1.07, 0.35, 0.38);
}

.footer-button-email:hover {
  background-color: #0f68b1;
}

.footer-icon-svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

/* backdrop */

.modal {
  background: #fff;
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.backdrop {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-tittle {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.modal-lable-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.modal-tittle-input {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}

.modal-input-com::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  padding-bottom: 87px;
  padding-left: 16px;
  position: absolute;
  top: 12px;
}

.modal-input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 10px;
  position: relative;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-lable-text:hover .modal-input {
  border: 1px solid #2196f3;
}

.modal-lable-text:hover .modal-icons {
  fill: #2196f3;
}

.modal-input-com {
  width: 416px;
  height: 96px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  position: relative;
  margin-bottom: 20px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-com:hover {
  border: 1px solid #2196f3;
}

.modal-icons {
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 20px;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  width: 18px;
  height: 18px;
}

.modal-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  background: #fff;
}

.modal-lable-text-checkbox {
  display: flex;
  gap: 9px;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;
}

.modal-checkbox-text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.modal-text-link {
  color: #2196f3;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.modal-input-checkbox {
  width: 16px;
  height: 15px;
}

.modal-button {
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  padding: 10px 52px 10px 52px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover {
  background-color: #1463a3;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
