body {
  font-family: Roboto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.header-container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.headr-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-link:hover {
  color: #2196f3;
  transition: 0.7s;
}

.logo {
  margin-right: 93px;
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.header-contact {
  display: flex;
}

.gmail {
  margin-left: 344px;
  margin-right: 50px;
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.contact {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.logo-one {
  color: #2196f3;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

/* biznes */

.biznes {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(/img/img.biznes/biznes.fon.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.biznes-up {
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.button-biznes {
  width: 216px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button-text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}

.biznes-container {
  max-width: 628px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Choosing-Us */

.choosing {
  padding-top: 94px;
}

.choosing-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.choosing-item {
  width: 270px;
  height: 248px;
}

.choosing-item-antenna::before {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  display: block;
  content: "";
  margin-bottom: 30px;
  background-image: url(../img/img.choosing.us/choosing.us.antenna.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.choosing-item-clock::before {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  display: block;
  content: "";
  margin-bottom: 30px;
  background-image: url(../img/img.choosing.us/choosing.us.clock.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.choosing-item-diagramma::before {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  display: block;
  content: "";
  margin-bottom: 30px;
  background-image: url(../img/img.choosing.us/choosing.us.diagram.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.choosing-item-astronaut::before {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  display: block;
  content: "";
  margin-bottom: 30px;
  background-image: url(../img/img.choosing.us/choosing.us.astronaut.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.choosing-text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.choosing-hero {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* work */

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  gap: 30px;
}

/* team */

.team {
  background: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-text {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.team-work {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-photo {
  margin-bottom: 30px;
}

.team-item {
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  /* material shadow v1 */
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.foother-logo {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
}

.foother-logo-one {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.foother-address {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}

.gmails {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.nomer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.foother-contact {
  margin-bottom: 9px;
}
