.project {
  padding-top: 50px;
  padding-bottom: 94px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  &__text {
    color: $text-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
    padding-top: 20px;
    margin-bottom: 4px;
    padding-left: 24px;
  }

  &__title {
    @include work();
    padding-left: 24px;
  }

  &__link {
    display: block;
    border: 1px solid $tittle-color;
    max-width: 370px;
    padding-bottom: 20px;
    flex-basis: calc(100% - 240px / 9);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__information {
    width: 325px;
    color: $tittle-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
    padding-top: 63px;
    padding-left: 24px;
  }

  &__overley {
    width: 370px;
    height: 294px;
    background-color: $overley-fon;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 200ms linear;
    transform: translatey(100%);
  }

  &__item {
    position: relative;
    border: 1px solid $project-color;

    &:hover {
      box-shadow: 1px 4px 6px 0px $infrequent-color,
        0px 4px 4px 0px $unwonted-color, 0px 1px 1px 0px $rare-color;
    }

    &:focus {
      outline: none;
      box-shadow: 1px 4px 6px 0px $infrequent-color,
        0px 4px 4px 0px $unwonted-color, 0px 1px 1px 0px $rare-color;
    }

    &:hover .project__overley {
      opacity: 1;
      transform: translatey(0);
    }
  }
}
