@mixin button($width: 200px) {
  width: $width;
  height: 50px;
  border-radius: 4px;
  background: $hover-text;
  box-shadow: $uncommon-color;
  color: $tittle-color;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin tittle($color: $tittle-color) {
  color: $color;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

@mixin work($weight: 400, $letter: 30px, $gmail: $gmail-text) {
  color: $gmail;
  font-size: 16px;
  font-weight: $weight;
  line-height: $letter;
  letter-spacing: 0.48px;
}
