%logo {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}

%tittle-text {
  color: $text-color;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.84px;
  margin-bottom: 30px;
}

%icon-link {
  padding: 12px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
