$text-color: #212121;
$hover-text: #2196f3;
$logo-text: #000;
$gmail-text: #757575;
$before-color: #f5f4fa;
$tittle-color: #fff;
$basis-color: #0969b8;
$border-color: #afb1b8;
$footer-color: #2f303a;
$footer-text: rgba(255, 255, 255, 0.6);
$footer-icon-color: rgba(255, 255, 255, 0.1);
$footer-email-color: #0f68b1;
$overley-fon: #2196f3e5;
$footer-border: rgba(255, 255, 255, 0.3);
$footer-input: rgba(33, 150, 243, 0);
