$text-color: #212121;
$hover-text: #2196f3;
$logo-text: #000;
$gmail-text: #757575;
$before-color: #f5f4fa;
$tittle-color: #fff;
$basis-color: #0969b8;
$border-color: #afb1b8;
$footer-color: #2f303a;
$footer-text: rgba(255, 255, 255, 0.6);
$footer-icon-color: rgba(255, 255, 255, 0.1);
$footer-email-color: #0f68b1;
$overley-fon: #2196f3e5;
$footer-border: rgba(255, 255, 255, 0.3);
$footer-input: rgba(33, 150, 243, 0);
$section-color: #f5f4fa;
$placeholder-color: rgba(117, 117, 117, 0.5);
$input-color: rgba(33, 33, 33, 0.2);
$work-color: rgba(47, 48, 58, 0.8);
$not-polite: rgba(0, 0, 0, 0.1);
$shadow-color: rgba(0, 0, 0, 0.2);
$rare-color: rgba(0, 0, 0, 0.12);
$sparse-color: rgba(0, 0, 0, 0.08);
$thin-color: rgba(0, 0, 0, 0.1);
$unwonted-color: rgba(0, 0, 0, 0.06);
$infrequent-color: rgba(0, 0, 0, 0.16);
$uncommon-color: rgba(0, 0, 0, 0.14);
$project-color: #eee;
