.biznes {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 40%,
      rgba(47, 48, 58, 0.36738445378151263) 100%
    ),
    url(../img/img.biznes/biznes-fon.webp);
  background-repeat: no-repeat;
  background-size: cover;

  &__up {
    color: $tittle-color;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin-bottom: 30px;
    animation-name: biznes-up-mowe;
    animation-duration: 3s;
  }

  &__button {
    width: 216px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: $hover-text;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: $tittle-color;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background: $basis-color;
    }

    &:focus {
      background: $basis-color;
      outline: none;
    }
  }

  &__container {
    max-width: 628px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  @keyframes biznes-up-mowe {
    0% {
      transform: translate(-1200px, 0) scale(0.5);
      opacity: 0;
    }
    50% {
      text-shadow: 30px -15px 3px rgb(95, 155, 83);
    }
    100% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
    }
  }
}
