.biznes {
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../../img/mobile/biznes-fon-mobile@1x.webp");

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../../img/mobile/biznes-fon-mobile@2x.webp");
  }

  @media screen and (min-width: 768px) {
    background-image: url("../../img/tablet/biznes-fon-tablet@1x.webp");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../../img/tablet/biznes-fon-tablet@2x.webp");
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url("../../img/desktop/biznes-fon-desktop@1x.webp");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../../img/desktop/biznes-fon-desktop@2x.webp");
    }
  }

  &__up {
    color: $tittle-color;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    margin-bottom: 30px;
    animation-name: biznes-up-mowe;
    animation-duration: 3s;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      letter-spacing: 2.64px;
      line-height: 60px;
    }
  }

  &__button {
    @include button();
    flex-shrink: 0;

    &:hover {
      background: $basis-color;
    }

    &:focus {
      background: $basis-color;
      outline: none;
    }

    @media screen and (min-width: 1200px) {
      width: 216px;
    }
  }

  &__container {
    max-width: 360px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1200px) {
      max-width: 696px;
    }
  }

  @keyframes biznes-up-mowe {
    0% {
      transform: translate(-1200px, 0) scale(0.5);
      opacity: 0;
    }
    50% {
      text-shadow: 30px -15px 3px rgb(95, 155, 83);
    }
    100% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
    }
  }
}
