.choosing {
  padding-top: 94px;

  &__list {
    animation-name: choosing-mowe;
    animation-duration: 3s;

    @media screen and (min-width: 768px) {
      display: flex;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }

  &__item {
    width: 270px;
    height: 248px;
  }

  &__antenna::before {
    width: 450px;
    height: 120px;
    border-radius: 4px;
    background: $before-color;
    display: block;
    content: "";
    margin-bottom: 30px;
    background-image: url(../img/img.choosing.us/choosing-us-antenna.webp);
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__clock::before {
    width: 450px;
    height: 120px;
    border-radius: 4px;
    background: $before-color;
    display: block;
    content: "";
    margin-bottom: 30px;
    background-image: url(../img/img.choosing.us/choosing-us-clock.webp);
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__diagramma::before {
    width: 450px;
    height: 120px;
    border-radius: 4px;
    background: $before-color;
    display: block;
    content: "";
    margin-bottom: 30px;
    background-image: url(../img/img.choosing.us/choosing-us-diagram.webp);
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__astronaut::before {
    width: 450px;
    height: 120px;
    border-radius: 4px;
    background: $before-color;
    display: block;
    content: "";
    margin-bottom: 30px;
    background-image: url(../img/img.choosing.us/choosing-us-astronaut.webp);
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__text {
    color: $gmail-text;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
  }

  &__hero {
    @include tittle($color: $text-color);
    margin-bottom: 10px;
  }

  @keyframes choosing-mowe {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  &__container {
    width: 450px;

    @media screen and (min-width: 768px) {
      width: 768px;
    }

    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
  }
}
