.footer {
  background: $footer-color;
  padding-top: 60px;
  padding-bottom: 60px;

  &__logo {
    color: $tittle-color;
    @extend %logo;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
      font-size: 26px;
    }
  }

  &__logs {
    color: $hover-text;
    @extend %logo;

    @media screen and (min-width: 1200px) {
      font-size: 26px;
    }
  }

  &__address {
    color: $tittle-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
    letter-spacing: 0.42px;
    margin-bottom: 9px;

    @media screen and (min-width: 768px) {
      margin-bottom: 8px;
    }
  }

  &__tablet {
    display: block;

    @media screen and (min-width: 768px) {
      display: flex;
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  }

  &__container {
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__wrapper {
    margin-bottom: 60px;
    text-align: center;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      margin-right: 198px;
    }

    @media screen and (min-width: 1200px) {
      text-align: start;
      margin-right: 0;
    }
  }

  &__gmails {
    color: $footer-text;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
  }

  &__nomer {
    color: $footer-text;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
  }

  &__contact {
    margin-bottom: 9px;
  }

  &__burnt {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
    }

    @media screen and (min-width: 1200px) {
      text-align: start;
      margin-left: 70px;
    }
  }

  &__project {
    color: $tittle-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__information {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  &__link {
    @extend %icon-link;
    background-color: $footer-icon-color;
    fill: $footer-icon-color;

    &:hover {
      background-color: $hover-text;
    }

    &:focus {
      background-color: $hover-text;
      outline: none;
    }
  }

  &__icons {
    width: 20px;
    height: 20px;
    fill: $tittle-color;
  }

  &__lable {
    display: block;

    @media screen and (min-width: 1200px) {
      display: flex;
      gap: 12px;
      align-items: center;
      margin-left: 93px;
    }
  }

  &__tittle {
    color: $tittle-color;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;

    @media screen and (min-width: 1200px) {
      text-align: start;
      margin-left: 93px;
    }
  }

  &__input {
    width: 290px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid $footer-border;
    background: $footer-input;
    box-shadow: 0px 4px 4px 0px $uncommon-color;
    position: relative;
    margin-bottom: 20px;

    @media screen and (min-width: 480px) {
      width: 450px;
    }

    @media screen and (min-width: 1200px) {
      width: 358px;
      margin-bottom: 0;
    }

    &::placeholder {
      color: $footer-text;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.48px;
      position: absolute;
      left: 16px;
    }
  }

  &__button {
    @include button($width: 200px);
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(1, -1.07, 0.35, 0.38);
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 1200px) {
      margin: 0;
    }

    &:hover {
      background-color: $footer-email-color;
    }
  }

  &__svg {
    width: 24px;
    height: 24px;
    fill: $tittle-color;
  }
}
