.menu {
  background-color: $tittle-color;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  @media screen and (min-width: 480px) {
    padding-top: 48px;
  }

  &__linkdein {
    color: $text-color;
    font-size: 35px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;

    @media screen and (min-width: 480px) {
      font-size: 40px;
    }

    &:hover {
      color: $hover-text;
    }
  }

  &__linkdein-blue {
    color: $hover-text;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 30px;

    @media screen and (min-width: 480px) {
      font-size: 40px;
      gap: 33px;
    }
  }

  &__network-link {
    color: $hover-text;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.36px;

    @media screen and (min-width: 480px) {
      font-size: 18px;
    }
  }

  &__network {
    display: flex;
    gap: 15px;
    margin-left: 30px;
    position: absolute;
    margin-bottom: 48px;
    bottom: 0;

    @media screen and (min-width: 480px) {
      margin-left: 40px;
      gap: 20px;
    }
  }

  &__mobile-contact {
    color: $hover-text;
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.68px;

    @media screen and (min-width: 480px) {
      font-size: 34px;
    }
  }

  &__mobile-gmailss {
    color: $gmail-text;
    font-size: 21px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-bottom: 64px;
    margin-top: 32px;

    @media screen and (min-width: 480px) {
      font-size: 24px;
    }
  }

  &__mobile-gmails {
    margin-left: 30px;
    position: absolute;
    bottom: 100px;

    @media screen and (min-width: 480px) {
      margin-left: 40px;
    }
  }

  &__close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 15px;
    fill: $text-color;

    @media screen and (min-width: 480px) {
      width: 40px;
      height: 40px;
    }
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
