.modal {
  background: $tittle-color;
  width: 290px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg);
  padding: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) {
    width: 450px;
    height: 609px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }

  &__lable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &:hover .modal__input {
      border: 1px solid $hover-text;
    }

    &:hover .modal__icons {
      fill: $hover-text;
    }
  }

  &__title {
    color: $text-color;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
  }

  &__tittle {
    color: $gmail-text;
    font-size: 8px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    margin-bottom: 4px;

    @media screen and (min-width: 480px) {
      font-size: 12px;
    }
  }

  &__input {
    width: 210px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid $input-color;
    margin-bottom: 10px;
    position: relative;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 40px;

    @media screen and (min-width: 480px) {
      width: 370px;
    }

    @media screen and (min-width: 1200px) {
      width: 448px;
    }
  }

  &__com {
    border-radius: 4px;
    border: 1px solid $input-color;
    position: relative;
    margin-bottom: 20px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 16px;
    padding-bottom: 85px;
    width: 210px;
    height: 90px;

    @media screen and (min-width: 480px) {
      width: 370px;
    }

    @media screen and (min-width: 1200px) {
      width: 448px;
    }

    &:hover {
      border: 1px solid $hover-text;
    }

    &::placeholder {
      color: $placeholder-color;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.12px;
      padding-bottom: 87px;
      position: absolute;
      top: 12px;

      @media screen and (min-width: 480px) {
        font-size: 12px;
      }
    }
  }

  &__icons {
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: 20px;
    left: 15px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__close {
    width: 15px;
    height: 15px;

    @media screen and (min-width: 480px) {
      width: 18px;
      height: 18px;
    }

    &:hover {
      fill: $hover-text;
      transition: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__btn {
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1px solid $not-polite;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background: $tittle-color;

    @media screen and (min-width: 480px) {
      padding: 6px;
      top: 14px;
      right: 14px;
    }
  }

  &__agreement {
    display: flex;
    gap: 9px;
    justify-content: center;
    margin-bottom: 30px;
    align-items: center;
  }

  &__text {
    color: $gmail-text;
    font-size: 10px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;

    @media screen and (min-width: 480px) {
      font-size: 12px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
  }

  &__link {
    color: $hover-text;
    font-size: 10px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.34px;
    text-decoration-line: underline;

    @media screen and (min-width: 480px) {
      font-size: 12px;
      letter-spacing: 0.36px;
    }

    @media screen and (min-width: 1200px) {
      letter-spacing: 0.42px;
    }
  }

  &__checkbox {
    width: 16px;
    height: 15px;
  }

  &__button {
    border-radius: 4px;
    background: $hover-text;
    box-shadow: 0px 4px 4px 0px $uncommon-color;
    color: $tittle-color;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    padding: 7px 47px 7px 47px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: $basis-color;
    }

    @media screen and (min-width: 480px) {
      padding: 10px 52px 10px 52px;
      font-size: 16px;
    }
  }
}

.backdrop {
  background-image: linear-gradient($shadow-color, $shadow-color);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: translate(0);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
