.work {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    @extend %tittle-text;
    line-height: normal;
  }

  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    position: relative;
  }

  &__text {
    width: 370px;
    height: 70px;
    background: $work-color;
    position: absolute;
    bottom: 3px;
    display: flex;
    align-items: center;
  }

  &__tittle {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    @include tittle();
  }
}
