body {
  font-family: Roboto;
}

.container {
  max-width: 320px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 100%;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
